<template>
	<view class="content">
		<input type="text" :value="title" @input="onchangeInput">
		<button @click="add">添加</button>
	<view>
		<p v-for="(item) in lists" :key="item.id">
		{{item.title}} 
		<span @click="del(item.id)"> 删除</span>
		</p>
	</view>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				title: '小程序',
				lists:[],
				listid:0,
			}
		},
		methods: {
			add(){
				this.lists.push({
					title:this.title,
					id:this.listid++,
				})
				this.title='';
			},
			onchangeInput(e){
				this.title=e.detail.value;
			},
			del(id){
			this.lists=this.lists.filter(item=>{
				return	item.id!==id
				})
				console.log(this.lists);
			}
		}
	}
</script>

<style>
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.logo {
		height: 200rpx;
		width: 200rpx;
		margin: 200rpx auto 50rpx auto;
	}

	.text-area {
		display: flex;
		justify-content: center;
	}

	.title {
		font-size: 36rpx;
		color: #8f8f94;
	}
</style>
